.border-primary{
  border: 1px solid $primary-color;
}

.border-primary-dark{
  border: 1px solid $primary-dark-color;
}

.border-primary-light{
  border: 1px solid $primary-light-color;
}

.border-secondary{
  border: 1px solid $secondary-color;
}

.border-secondary-dark{
  border: 1px solid $secondary-dark-color;
}

.border-primary-text{
  border: 1px solid $primary-text-color;
}

.border-secondary-text{
  border: 1px solid $secondary-text-color;
}

.border-icon-text{
  border: 1px solid $icon-text-color;
}

.border-color{
  border: 1px solid $border-color;
}

.border-error{
  border: 1px solid $error-color;
}

.border-shadow{
  border: 1px solid $shadow-color;
}

.border-action{
  border: 1px solid $action-color;
}

.border-white{
  border: 1px solid white;
}