.font-primary{
  color: $primary-color;
}

.font-primary-dark{
  color: $primary-dark-color;
}

.font-primary-light{
  color: $primary-light-color;
}

.font-secondary{
  color: $secondary-color;
}

.font-secondary-dark{
  color: $secondary-dark-color;
}

.font-primary-text{
  color: $primary-text-color;
}

.font-secondary-text{
  color: $secondary-text-color;
}

.font-icon-text{
  color: $icon-text-color;
}

.font-border{
  color: $border-color;
}

.font-error{
  color: $error-color;
}

.font-shadow{
  color: $shadow-color;
}

.font-action{
  color: $action-color;
}

.font-white{
  color: white;
}




