$primary-color: #F44336;
$dark-primary-color: #D32F2F;
$light-primary-color: #FFE0B2;
$secondary-color: #2196f3;
$dark-secondary-color: #1976d2;
$primary-text-color: #212121;
$text-icon-color: #3C3C3C;
$secondary-text-color: #757575;
$border-color: #BDBDBD;
