button {
  @extend .white-color;
  font-weight: lighter;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  outline-style: none;
  cursor: pointer;
  @extend .transform;

  &[disabled] {
    opacity: 0.4;
    &:hover {
      box-shadow: 0 0 0 0;
      cursor: not-allowed;
    }
  }

  &:focus {
    background:$white-focus !important;
  }

  &:hover {
    -webkit-box-shadow: 0 2px 5px 0 $shadow;
    box-shadow: 0 2px 5px 0 $shadow;
  }



  &.red {
    @extend .red-color;
    &:focus {
      background:$red-focus !important;
    }
  }

  &.black {
    @extend .black-color;
    &:focus {
      background:$black-focus !important;
    }
  }

  &.blue {
    @extend .blue-color;
    &:focus {
      background:$blue-focus !important;
    }
  }

  &.yellow {
    @extend .yellow-color;
    &:focus {
      background:$yellow-focus !important;
    }
  }

  &.green {
    @extend .green-color;
    &:focus {
      background:$green-focus !important;
    }
  }

  & .icon {
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 6px;
  }

  &.circle {
    border-radius: 50%;
    & .icon {
      padding-right: 8px;
      padding-left: 8px;
      margin: 0;
    }
  }

  &.rounded {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    & .icon {
      margin-right: 10px;
    }
  }
}
