.transform {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

button {
  color: $black;
  font-weight: lighter;
  padding: 10px;
  margin: 5px;
  border: 1px solid $white-border;
  font-size: 12px;
  outline-style: none;
  cursor: pointer;
  background: $white;
  @extend .transform;

  &[disabled] {
    opacity: 0.4;
    &:hover {
      box-shadow: 0 0 0 0;
      cursor: not-allowed;
    }
  }

  &:focus {
    background:$white-focus !important;
  }

  &:hover {
    -webkit-box-shadow: 0 2px 5px 0 $shadow;
    box-shadow: 0 2px 5px 0 $shadow;
  }



  &.red {
    background: $red;
    color: $white;
    border: 1px solid $red-border;
    &:focus {
      background:$red-focus !important;
    }
  }

  &.black {
    background: $black;
    color: $white;
    border: 1px solid $black-border;
    &:focus {
      background:$black-focus !important;
    }
  }

  &.blue {
    background: $blue;
    color: $white;
    border: 1px solid $blue-border;
    &:focus {
      background:$blue-focus !important;
    }
  }

  &.yellow {
    background: $yellow;
    color: $black;
    border: 1px solid $yellow-border;
    &:focus {
      background:$yellow-focus !important;
    }
  }

  &.green {
    background: $green;
    color: $white;
    border: 1px solid $green-border;
    &:focus {
      background:$green-focus !important;
    }
  }

  & .icon {
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 6px;
  }

  &.circle {
    border-radius: 50%;
    & .icon {
      padding-right: 8px;
      padding-left: 8px;
      margin: 0;
    }
  }

  &.rounded {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    & .icon {
      margin-right: 10px;
    }
  }
}
