.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  @extend .white-color;
  &.absolute {
    position: absolute !important;
  }
  &.fixed {
    position: fixed !important;
  }
  & ul.menu{
    position: absolute;
    list-style: none;
    top: 50px;
    margin: 0;
    padding: 0;
    @extend .white-color;
    @extend .transform;
    &.left {
      left: 0;
    }
    &.right {
      right: 0
    }
    &.hide{
      display: none;
    }
    &.show {
      display: block;
    }
  }
  & ul.menu li{
    padding: 0px;
    cursor: pointer;
    @extend .transform;
  }
  & ul.menu li a{
    margin: 0px;
    padding: 20px;
    display: block;
    height: 100%;
    text-decoration: none;
    @extend .black-text;
  }
  & ul.menu li:hover, ul.menu li.selected, ul.menu li a.selected{
    background: $white-focus;
  }
  & ul.menu li.selected, ul.menu li a.selected{
    border-bottom: 3px solid $blue;
  }
  & ul.menu li.selected, ul.menu li.selected a, ul.menu li a.selected{
    @extend .blue-text;
    text-decoration: none;
  }
  & .action{
    width: 50px;
    height: 50px;
    cursor: pointer;
    &.left{
      float: left;
      border-right: 1px solid $white-border;
    }
    &.right{
      float: right;
      border-left: 1px solid $white-border;
    }
  }
  & .brand{
    position: relative;
    height: 42px;
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: 400;
    width: auto;
    float: left;
    border-right: 1px solid $white-border;
  }
  & a.brand{
    text-decoration: none;
    @extend .white-text;
  }
  & .option, a.option{
    position: relative;
    height: 33px;
    width: auto;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    @extend .transform;
    &.right{
      float: right;
    }
    &.left{
      float: left;
    }
    & a{
      @extend .black-text;
      text-decoration: none;
    }
  }
  & .option:hover, a.option.selected, .option.selected{
    background: $white-focus;
    cursor: pointer;
  }
  & a.option.selected, .option.selected{
    border-bottom: 3px solid $blue;
    height: 30px;
  }
  & a.option.selected, .option.selected, .option.selected a{
    @extend .blue-text;
  }
  &.blue {
    @extend .blue-color;
    & .brand {
      border-right: 1px solid $blue-border;
    }
    & ul.menu{
      @extend .blue-color;
    }
    & ul.menu li:hover, ul.menu li.selected, ul.menu li a.selected{
      background: $blue-focus;
    }
    & ul.menu li a{
      text-decoration: none;
      @extend .white-text;
    }
    & ul.menu li.selected, ul.menu li.selected a, ul.menu li a.selected{
      @extend .yellow-text;
      text-decoration: none;
    }
    & ul.menu li.selected, ul.menu li a.selected{
      border-bottom: 3px solid $yellow;
    }
    & .action{
      &.left{
        border-right-color: $blue-border
      }
      &.right{
        border-left-color: $blue-border
      }
    }
    & .option{
      & a{
        @extend .white-text;
      }
    }
    & a.option {
      text-decoration: none;
      @extend .white-text;
    }
    & .option:hover, a.option.selected, .option.selected{
      background: $blue-focus !important;
      cursor: pointer;
    }
    & a.option.selected, .option.selected{
      border-bottom: 3px solid $yellow;
      height: 30px;
    }
    & a.option.selected, .option.selected, .option.selected a{
      @extend .yellow-text;
    }
  }
  &.red {
    @extend .red-color;
    & .brand{
      border-right: 1px solid $red-border;
    }
    & ul.menu{
      @extend .red-color;
    }
    & ul.menu li:hover, ul.menu li.selected, ul.menu li a.selected{
      background: $red-focus;
    }
    & ul.menu li a{
      text-decoration: none;
      @extend .black-text;
    }
    & ul.menu li.selected, ul.menu li.selected a, ul.menu li a.selected{
      @extend .white-text;
      text-decoration: none;
    }
    & ul.menu li.selected, ul.menu li a.selected{
      border-bottom: 3px solid $white;
    }
    & .action{
      &.left{
        border-right-color: $red-border
      }
      &.right{
        border-left-color: $red-border
      }
    }
    & .option{
      & a{
        @extend .black-text;
      }
    }
    & a.option {
      text-decoration: none;
      @extend .black-text;
    }
    & .option:hover, a.option.selected, .option.selected{
      background: $red-focus !important;
      cursor: pointer;
    }
    & a.option.selected, .option.selected{
      border-bottom: 3px solid $white;
      height: 30px;
    }
    & a.option.selected, .option.selected, .option.selected a{
      @extend .white-text;
    }
  }
  &.green{
    @extend .green-color;
    & .brand {
      border-right: 1px solid $green-border;
    }
    & ul.menu{
      @extend .green-color;
    }
    & ul.menu li:hover, ul.menu li.selected, ul.menu li a.selected{
      background: $green-focus;
    }
    & ul.menu li a{
      text-decoration: none;
      @extend .black-text;
    }
    & ul.menu li.selected, ul.menu li.selected a, ul.menu li a.selected{
      @extend .white-text;
      text-decoration: none;
    }
    & ul.menu li.selected, ul.menu li a.selected{
      border-bottom: 3px solid $white;
    }
    & .action{
      &.left{
        border-right-color: $green-border
      }
      &.right{
        border-left-color: $green-border
      }
    }
    & .option{
      & a{
        @extend .black-text;
      }
    }
    & a.option {
      text-decoration: none;
      @extend .black-text;
    }
    & .option:hover, a.option.selected, .option.selected{
      background: $green-focus !important;
      cursor: pointer;
    }
    & a.option.selected, .option.selected{
      border-bottom: 3px solid $white;
      height: 30px;
    }
    & a.option.selected, .option.selected, .option.selected a{
      @extend .white-text;
    }
  }
  &.yellow {
    @extend .yellow-color;
    & .brand {
      border-right: 1px solid $yellow-border;
    }
    & ul.menu{
      @extend .yellow-color;
    }
    & ul.menu li:hover, ul.menu li.selected, ul.menu li a.selected{
      background: $yellow-focus;
    }
    & ul.menu li a{
      text-decoration: none;
      @extend .black-text;
    }
    & ul.menu li.selected, ul.menu li.selected a, ul.menu li a.selected{
      @extend .white-text;
      text-decoration: none;
    }
    & ul.menu li.selected, ul.menu li a.selected{
      border-bottom: 3px solid $white;
    }
    & .action{
      &.left{
        border-right-color: $yellow-border
      }
      &.right{
        border-left-color: $yellow-border
      }
    }
    & .option{
      & a{
        @extend .black-text;
      }
    }
    & a.option {
      text-decoration: none;
      @extend .black-text;
    }
    & .option:hover, a.option.selected, .option.selected{
      background: $yellow-focus !important;
      cursor: pointer;
    }
    & a.option.selected, .option.selected{
      border-bottom: 3px solid $white;
      height: 30px;
    }
    & a.option.selected, .option.selected, .option.selected a{
      @extend .white-text;
    }
  }
  &.gray {
    @extend .gray-color;
    & .brand {
      border-right: 1px solid $gray-border;
    }
    & ul.menu{
      @extend .gray-color;
    }
    & ul.menu li:hover, ul.menu li.selected, ul.menu li a.selected{
      background: $gray-focus;
    }
    & ul.menu li a{
      text-decoration: none;
      @extend .gray-text;
    }
    & ul.menu li.selected, ul.menu li.selected a, ul.menu li a.selected{
      @extend .black-text;
      text-decoration: none;
    }
    & ul.menu li.selected, ul.menu li a.selected{
      border-bottom: 3px solid $black;
    }
    & .action{
      &.left{
        border-right-color: $gray-border
      }
      &.right{
        border-left-color: $gray-border
      }
    }
    & .option{
      & a{
        @extend .gray-text;
      }
    }
    & a.option {
      text-decoration: none;
      @extend .gray-text;
    }
    & .option:hover, a.option.selected, .option.selected{
      background: $gray-focus !important;
      cursor: pointer;
    }
    & a.option.selected, .option.selected{
      border-bottom: 3px solid $black;
      height: 30px;
    }
    & a.option.selected, .option.selected, .option.selected a{
      @extend .black-text;
    }
  }
  &.black {
    @extend .black-color;
    & .brand {
      border-right: 1px solid $black-border;
    }
    & ul.menu{
      @extend .black-color;
    }
    & ul.menu li:hover, ul.menu li.selected, ul.menu li a.selected{
      background: $black-focus;
    }
    & ul.menu li a{
      text-decoration: none;
      @extend .gray-text;
    }
    & ul.menu li.selected, ul.menu li.selected a, ul.menu li a.selected{
      @extend .white-text;
      text-decoration: none;
    }
    & ul.menu li.selected, ul.menu li a.selected{
      border-bottom: 3px solid $white;
    }
    & .action{
      &.left{
        border-right-color: $black-border
      }
      &.right{
        border-left-color: $black-border
      }
    }
    & .option{
      & a{
        @extend .gray-text;
      }
    }
    & a.option {
      text-decoration: none;
      @extend .gray-text;
    }
    & .option:hover, a.option.selected, .option.selected{
      background: $black-focus !important;
      cursor: pointer;
    }
    & a.option.selected, .option.selected{
      border-bottom: 3px solid $white;
      height: 30px;
    }
    & a.option.selected, .option.selected, .option.selected a{
      @extend .white-text;
    }
  }

}

header {
  @extend .header;
}
