.icon {
  background-size: 16px 16px !important;

  &.account_box_black {
    background: url("icons/account_box_black.svg") no-repeat center;
  }

  &.account_box_white {
    background: url("icons/account_box_white.svg") no-repeat center;
  }

  &.account_circle_black {
    background: url("icons/account_circle_black.svg") no-repeat center;
  }

  &.account_circle_white {
    background: url("icons/account_circle_white.svg") no-repeat center;
  }

  &.add_black {
    background: url("icons/add_black.svg") no-repeat center;
  }

  &.add_white {
    background: url("icons/add_white.svg") no-repeat center;
  }

  &.arrow_forward_black {
    background: url("icons/arrow_forward_black.svg") no-repeat center;
  }

  &.arrow_forward_white {
    background: url("icons/arrow_forward_white.svg") no-repeat center;
  }

  &.chat_black {
    background: url("icons/chat_black.svg") no-repeat center;
  }

  &.chat_white {
    background: url("icons/chat_white.svg") no-repeat center;
  }

  &.clear_black {
    background: url("icons/clear_black.svg") no-repeat center;
  }

  &.clear_white {
    background: url("icons/clear_white.svg") no-repeat center;
  }

  &.content_copy_black {
    background: url("icons/content_copy_black.svg") no-repeat center;
  }

  &.content_copy_white {
    background: url("icons/content_copy_white.svg") no-repeat center;
  }

  &.content_cut_black {
    background: url("icons/content_cut_black.svg") no-repeat center;
  }

  &.content_cut_white {
    background: url("icons/content_cut_white.svg") no-repeat center;
  }

  &.create_black {
    background: url("icons/create_black.svg") no-repeat center;
  }

  &.create_white {
    background: url("icons/create_white.svg") no-repeat center;
  }

  &.done_white {
    background: url("icons/done_white.svg") no-repeat center;
  }

  &.done_black {
    background: url("icons/done_black.svg") no-repeat center;
  }

  &.error_black {
    background: url("icons/error_black.svg") no-repeat center;
  }

  &.error_white {
    background: url("icons/error_white.svg") no-repeat center;
  }

  &.error_outline_black {
    background: url("icons/error_outline_black.svg") no-repeat center;
  }

  &.error_outline_white {
    background: url("icons/error_outline_white.svg") no-repeat center;
  }

  &.face_black {
    background: url("icons/face_black.svg") no-repeat center;
  }

  &.face_white {
    background: url("icons/face_white.svg") no-repeat center;
  }

  &.favorite_black {
    background: url("icons/favorite_black.svg") no-repeat center;
  }

  &.favorite_white {
    background: url("icons/favorite_white.svg") no-repeat center;
  }

  &.favorite_border_black {
    background: url("icons/favorite_border_black.svg") no-repeat center;
  }

  &.favorite_border_white {
    background: url("icons/favorite_border_white.svg") no-repeat center;
  }

  &.file_download_black {
    background: url("icons/file_download_black.svg") no-repeat center;
  }

  &.file_download_white {
    background: url("icons/file_download_white.svg") no-repeat center;
  }

  &.file_upload_black {
    background: url("icons/file_upload_black.svg") no-repeat center;
  }

  &.file_upload_white {
    background: url("icons/file_upload_white.svg") no-repeat center;
  }

  &.menu_black {
    background: url("icons/menu_black.svg") no-repeat center;
  }

  &.menu_white {
    background: url("icons/menu_white.svg") no-repeat center;
  }

  &.more_horiz_black {
    background: url("icons/more_horiz_black.svg") no-repeat center;
  }

  &.more_horiz_white {
    background: url("icons/more_horiz_white.svg") no-repeat center;
  }

  &.more_vert_black {
    background: url("icons/more_vert_black.svg") no-repeat center;
  }

  &.more_vert_white {
    background: url("icons/more_vert_white.svg") no-repeat center;
  }

  &.refresh_black {
    background: url("icons/refresh_black.svg") no-repeat center;
  }

  &.refresh_white {
    background: url("icons/refresh_white.svg") no-repeat center;
  }

  &.search_black {
    background: url("icons/search_black.svg") no-repeat center;
  }

  &.search_white {
    background: url("icons/search_white.svg") no-repeat center;
  }

  &.share_black {
    background: url("icons/share_black.svg") no-repeat center;
  }

  &.share_white {
    background: url("icons/share_white.svg") no-repeat center;
  }

  &.turned_in_not_black {
    background: url("icons/turned_in_not_black.svg") no-repeat center;
  }

  &.turned_in_not_white {
    background: url("icons/turned_in_not_white.svg") no-repeat center;
  }

  &.visibility_black {
    background: url("icons/visibility_black.svg") no-repeat center;
  }

  &.visibility_white {
    background: url("icons/visibility_white.svg") no-repeat center;
  }

  &.visibility_off_black {
    background: url("icons/visibility_off_black.svg") no-repeat center;
  }

  &.visibility_off_white {
    background: url("icons/visibility_off_white.svg") no-repeat center;
  }

  &.warning_black {
    background: url("icons/warning_black.svg") no-repeat center;
  }

  &.warning_white {
    background: url("icons/warning_white.svg") no-repeat center;
  }

}
