label{
  color: $black;
}
input {
  outline-style: none;
  font-size: 16px;
  color: $black;
  width: 100%;
  height: 30px;
  background: $white;
  border: 1px solid $gray;
  margin-top: 2px;
  margin-bottom: 15px;
  padding-left: 5px;
  @extend .transform;
  &:focus {
    border-bottom: 3px solid $gray-border;
    background: $white-dirty;
  }
  &::placeholder{
    color: $gray-hold;
  }

  &.red {
    &:focus {
      border-bottom: 3px solid $red;
      background: $red-dirty;
    }
  }

  &.black {
    &:focus {
      border-bottom: 3px solid $black;
      background: $black-dirty;
    }
  }

  &.blue {
    &:focus {
      border-bottom: 3px solid $blue;
      background: $blue-dirty;
    }
  }

  &.yellow {
    &:focus {
      border-bottom: 3px solid $yellow;
      background: $yellow-dirty;
    }
  }

  &.green {
    &:focus {
      border-bottom: 3px solid $green;
      background: $green-dirty;
    }
  }
}

/*type == number*/

/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::after {
    content: "\25B2";
    position: absolute;
    color: blue;
    left: 100%;
    margin-left: -17px;
    margin-top: 12%;
    font-size: 11px;
}

input[type=number]::before {
    content: "\25BC";
    position: absolute;
    color: blue;
    left: 100%;
    bottom: 0;
    margin-left: -17px;
    margin-bottom: -14%;
    font-size: 11px;
}
*/
