.input-box {
  display: table;
  & label {
    float: left;
    height: 25px;
    padding: 9px 9px 0px 9px;
    font-weight: bold;
    @extend .green;
  }
  & input {
    float: left;
    width: auto;
    height: 34px;
    padding: 0;
    margin-top: 0;
    border-right: none;
    padding-left: 10px;
    &[type="number"] {
      text-align: right;
    }
  }

  & button {
    float: left;
    margin: 0;
    &.rounded {
      border-radius: 0px 20px 20px 0px;
    }

    & .icon {
      margin-left: 5px;
    }
  }


}
