nav{
  width: auto;
  @extend .white-color;
  position: absolute;
  &.fixed{
    position: fixed;
  }
  & a{
    color: $black;
    display: table;
    border-spacing: 10px;
    width: 100%;
    text-decoration: none;
    @extend .transform;
    border-bottom: 3px solid $white;

    &.selected{
      background: $white-focus;
      border-bottom: 3px solid $blue !important;
      height: 30px;
      @extend .blue-text;
    }
  }
  & a:hover {
    background: $white-focus;
    border-bottom: 3px solid $white-focus;
  }

  &.red {
    & a{
      background-color: $red;
      color: $black;
      border-bottom: 3px solid $red;
      &.selected{
        background: $red-focus;
        @extend .white-text;
        border-bottom: 3px solid $white !important;
      }
    }
    & a:hover {
      background: $red-focus;
      border-bottom: 3px solid $red-focus;
    }
  }

  &.black {
    & a{
      background-color: $black;
      color: $white;
      border-bottom: 3px solid $black;
      &.selected{
        background: $black-focus;
        @extend .white-text;
        border-bottom: 3px solid $white !important;
      }
    }
    & a:hover {
      background: $black-focus;
      border-bottom: 3px solid $black-focus;
    }
  }

  &.blue {
    & a{
      background-color: $blue;
      color: $white;
      border-bottom: 3px solid $blue;
      &.selected{
        background: $blue-focus;
        @extend .yellow-text;
        border-bottom: 3px solid $yellow !important;
      }
    }
    & a:hover {
      background: $blue-focus;
      border-bottom: 3px solid $blue-focus;
    }
  }

  &.yellow {
    & a{
      background-color: $yellow;
      color: $black;
      border-bottom: 3px solid $yellow;
      &.selected{
        background: $yellow-focus;
        @extend .white-text;
        border-bottom: 3px solid $white !important;
      }
    }
    & a:hover {
      background: $yellow-focus;
      border-bottom: 3px solid $yellow-focus;
    }
  }

  &.green {
    & a{
      background-color: $green;
      color: $black;
      border-bottom: 3px solid $green;
      &.selected{
        background: $green-focus;
        @extend .white-text;
        border-bottom: 3px solid $white !important;
      }
    }
    & a:hover {
      background: $green-focus;
      border-bottom: 3px solid $green-focus;
    }
  }

  &.gray {
    & a{
      background-color: $gray-hold;
      color: $black;
      border-bottom: 3px solid $gray-hold;
      &.selected{
        background: $gray-focus;
        @extend .black-text;
        border-bottom: 3px solid $black !important;
      }
    }
    & a:hover {
      background: $gray-focus;
      border-bottom: 3px solid $gray-focus;
    }
  }
}
