table {
  background: $white;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 10px;

  &.expanded {
    width: 100%;
  }

  & thead {
    & tr {
      border-bottom: 1px solid $black;
      & th {
        padding: 10px;
        font-weight: 400;
        &.center {
          @extend .text-center;
        }

        &.right {
          @extend .text-right;
        }

        &.left {
          @extend .text-left;
        }
      }
    }
  }

  &.strip {
    & tbody {
      & tr:nth-child(even) {
        background: $white;
      }
      & tr:nth-child(odd) {
        background: $gray;
      }

      & tr:hover {
          background: $orange-dirty;
          opacity: 0.6;
         & td:nth-child(n) {
             border-bottom: 1px solid $orange-border;
         }
      }
    }
  }

  &.strip-vertical {
      & tbody {
          & td:nth-child(even) {
              background: $white
          }
          & td:nth-child(odd) {
              background: $gray
          }

          & tr:hover {
              background: $orange-dirty;
              & td:nth-child(n) {
                  opacity: 0.4;
                  border-bottom: 1px solid $orange-border;
              }
          }

      }
  }

  & tbody {
    padding-bottom: 10px;

    & tr {
      @extend .transform;
      & td {
        @extend .transform;
        padding: 10px;
        border-bottom: 1px solid $gray-hold;
        &.center {
          @extend .text-center;
        }

        &.right {
          @extend .text-right;
        }

        &.left {
          @extend .text-left;
        }
      }
    }

    & tr:hover {
      background: $yellow-dirty;
    }

    & tr:last-child td{
      margin-bottom: 10px;
    }

  }
}
