table {
  background: $white;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 10px;

  &.expanded {
    width: 100%;
  }

  & thead {
    & tr {
      border-bottom: 1px solid $black;
      & th {
        padding: 10px;
        font-weight: 400;
        &.center {
          @extend .text-center;
        }

        &.right {
          @extend .text-right;
        }

        &.left {
          @extend .text-left;
        }
      }
    }
  }

  &.phased {
    & tbody {
      & tr:nth-child(even) {
        background: #EEE;
      }
      & tr:nth-child(odd) {
        background: #FFF;
      }

      & tr:hover {
        background: $yellow-dirty;
      }
    }
  }

  & tbody {
    padding-bottom: 10px;

    & tr {
      @extend .transform;
      & td {
        padding: 10px;
        border-bottom: 1px solid $gray-hold;
        &.center {
          @extend .text-center;
        }

        &.right {
          @extend .text-right;
        }

        &.left {
          @extend .text-left;
        }
      }
    }

    & tr:hover {
      background: $yellow-dirty;
    }

    & tr:last-child td{
      border: none;
      margin-bottom: 10px;
    }

  }
}
