table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 10px;

  &.expanded {
    width: 100%;
  }

  & thead {
    background: $white;
    & tr {
      border-bottom: 1px solid $black;
      & th {
        padding: 7px;
        font-weight: 400;
        border-right: 1px solid $gray-hold;
        &.center {
          @extend .text-center;
        }
        &.right {
          @extend .text-right;
        }
        &.left {
          @extend .text-left;
        }
      }
    }
  }

  & tbody {
    padding-bottom: 10px;
    background: $white;
    & tr {
      @extend .transform;
      & td {
        @extend .transform;
        padding: 7px;
        border-bottom: 1px solid $gray-hold;
        &.center {
          @extend .text-center;
        }
        &.right {
          @extend .text-right;
        }
        &.left {
          @extend .text-left;
        }
      }
    }

    & tr:hover {
      background: $gray-focus;
      & td {
          color: $white;
          border-right: $gray-focus;
      }
    }
    
    & tr:last-child td{
      border-bottom: none;
      margin-bottom: 10px;
    }

  }

  &.strip-horizontal {
    & tbody {
      & td {
        border-right: 1px solid $gray-hold;
      }
      & tr:nth-child(even) {
        background: $white;
      }
      & tr:nth-child(odd) {
        background: $gray;
      }
      & tr:hover {
         & td:nth-child(n) {
            background: $gray-focus;
            color: $white;
         }
      }
    }
  }

  &.strip-vertical {
      & tbody {
          & td:nth-child(even) {
              background: $white
          }
          & td:nth-child(odd) {
              background: $gray
          }
          & tr:hover {
              & td:nth-child(n) {
                  background: $gray-focus;
                 color: $white;
              }
          }
      }
  }

}
