/*Font weight Clasess*/

.font-200{
  font-weight: 200;
}

.font-300{
  font-weight: 300;
}

.font-400{
  font-weight: 400;
}

/*Font weight Clasess*/

.font-size-96{
  font-size: 96px;
}

/*Heading Clasess*/

h1{
  @extend .font-size-96;
  letter-spacing: -1.5px;
}
