.red-text {
  color:$red !important;
}

.blue-text {
  color: $blue !important
}

.yellow-text {
  color:$yellow !important
}

.green-text {
  color:$green !important
}

.gray-text {
  color:$gray !important
}

.white-text{
  color: $white !important;
}

.black-text{
  color: $black !important;
}

.white-color {
  background: $white;
  color: $black;
  border: 1px solid $white-border;
}

.red-color {
  background: $red;
  color: $white;
  border: 1px solid $red-border;
}

.black-color {
  background: $black;
  color: $white;
  border: 1px solid $black-border;
}

.blue-color {
  background: $blue;
  color: $white;
  border: 1px solid $blue-border;
}

.yellow-color {
  background: $yellow;
  color: $black;
  border: 1px solid $yellow-border;
}

.green-color {
  background: $green;
  color: $white;
  border: 1px solid $green-border;
}

.gray-color {
  background: $gray-hold;
  color: $gray-text;
  border: 1px solid $gray-border;
}
.grafite-color {
  background: $graf-background;
  color: $graf-text;
  border: 1px solid $graf-border;
}
