@media (max-width: 1000px) {
  header.media, .header.media{
    & .action{
      display: block;
    }
    & .option{
      display: none;
    }
    & ul.menu.show {
      display: block;
    }
    & ul.menu, .menu.hide {
      display: none;
    }
  }
}

@media (min-width: 1000px) {
  header.media, .header.media{
    & .action{
      display: none;
    }
    & .option{
      display: block;
    }
    & .menu, .menu.show {
      display: none;
    }
  }
}
