.transform {
  -webkit-transition: all 350ms ease-in;
  -moz-transition: all 350ms ease-in;
  -ms-transition: all 350ms ease-in;
  -o-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
}
