a.button{
  display: inline-flex;
}

.button{
  background: white;
  padding: 9px 24px 9px 24px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border-radius: 6px;
  @extend .transition;
  @extend .button-text;
  &:hover{
    @extend .shadow;
  }
  &.primary{
    background: $primary-color;
    color: white;
  }
  &.secondary{
    background: white;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    font-weight: 400;
    & .text{
      font-weight: 400;
    }
  }
  &.rounded{
    border-radius: 36px;
  }
  &.circle{
    padding: 18px;
    border-radius: 100%;
  }
  & .icon{
    padding: 6px;
  }
  & .text{
    padding-top: 9px;
  }
}

button{
  @extend .button;
}
