.card{
  margin-top: 24px;
  max-width: 100%;
  height: auto;
  @extend .default-theme;
  &.rounded{
    border-radius: 9px;
    & .content{
      & .media{
        & img{
          border-radius: 9px 9px 0 0
        }
      }
    }
  }
  & .content{
    & .media{
      img{
        height: auto;
        width: 100%;
      }
      iframe{
        height: 300px;
        width: 100%;
      }
    }
    & .controls{
      padding: 6px;
      &.right{
        text-align: right;
      }
      &.left{
        text-align: left;
      }
    }
    & .description{
      padding: 12px;
      & h1,h2,h3,h4,h5,h6{
        margin: 0;
      }
    }
  }
}