.transition-slow {
  -webkit-transition: all 900ms ease-out;
  -moz-transition: all 900ms ease-out;
  -ms-transition: all 900ms ease-out;
  -o-transition: all 900ms ease-out;
  transition: all 900ms ease-out;
}

.transition {
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

.transition-fast {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
