select{
  -webkit-appearance: button;
  appearance: button;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  background-attachment: white;
  padding: 6px;
  background-color: white;
  border: 1px solid $border-color;
  background-image: linear-gradient($border-color, $border-color),
  linear-gradient(-135deg, transparent 50%, white 50%),
  linear-gradient(-225deg, transparent 50%, white 50%),
  linear-gradient(white 42%, $primary-text-color 42%);
  background-repeat: no-repeat;
  background-size: 0px 100%, 20px 22px, 20px 22px, 20px 100%;  
  background-position: right 20px center, right bottom, right bottom, right bottom;
  & option(:checked){
    margin: 12px;
    background-color: red;
    padding:12px;
    border: 1px solid $secondary-color;
  }
  &:focus{
    border: 1px solid $secondary-color;
    background-image: linear-gradient($secondary-color, $secondary-color),
    linear-gradient(-135deg, transparent 50%, white 50%),
    linear-gradient(-225deg, transparent 50%, white 50%),
    linear-gradient(white 42%, $secondary-color 42%);
    &:hover{
      background-image: linear-gradient($secondary-color, $secondary-color),
      linear-gradient(-135deg, transparent 50%, white 50%),
      linear-gradient(-225deg, transparent 50%, white 50%),
      linear-gradient(white 42%, $secondary-color 42%);
    }
    @extend .font-400;
  }  
  &:hover{
    cursor: pointer;
    @extend .shadow-light;
  }
  &.rounded{
    border-radius: 12px;
    padding-left: 9px;
    padding-right: 9px;
  }
  &.error{
    border: 1px solid $error-color;
    background-image: linear-gradient($error-color, $error-color),
    linear-gradient(-135deg, transparent 50%, white 50%),
    linear-gradient(-225deg, transparent 50%, white 50%),
    linear-gradient(white 42%, $error-color 42%);
    &:hover{
      background-image: linear-gradient($error-color, $error-color),
      linear-gradient(-135deg, transparent 50%, white 50%),
      linear-gradient(-225deg, transparent 50%, white 50%),
      linear-gradient(white 42%, $error-color 42%);
    }
  }
  @extend .transition;
  @extend .caption-text;
}