textarea{
  outline: none;
  border: none;
  border-bottom: 3px solid $primary-text-color;
  width: 100%;
  background-color: $action-color;
  &::-webkit-input-placeholder{
    @extend .font-shadow;
    @extend .body-1-text;
  }
  @extend .transition;
  @extend .body-1-text;
  &:focus{
    border-bottom: 3px solid $primary-color;
  }
}