/*Loading fonts and icons*/
@import "assets/fonts/MaterialIcons.css";
@import "assets/fonts/NunitoSans.css";

/*Loading PostCSS files*/
@import "css/layout/flexbox.css";
@import "css/layout/box-model.css";
@import "css/layout/color.css";
@import "css/layout/alignment.css";

/*
@import "css/component/button.css";
@import "css/component/button.css";
@import "css/component/header.css";
@import "css/fx/transition.css";
@import "css/fx/shadow.css";
*/

*{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, strong, b {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body{
  padding: 0;
  margin: 0;
}
