<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400" rel="stylesheet">
<meta charset="UTF-8">
<meta name="description" content="Morph es un sistema de diseño para crear Interfaces Gráficas de Usuario (GUI - Graphic User Interface) de la manera más sencilla posible y en base a estandares web.">
<meta name="keywords" content="HTML,CSS">
<meta name="author" content="Estefano Castañeda Bello">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="cache-control" content="no-cache"/>
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.13.0/addon/scroll/simplescrollbars.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.13.0/codemirror.min.css">
<style media="screen">
.container{
  position: relative;
  width: 1280px;
  margin: auto;
}
.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black; width: 500px;}
.CodeMirror pre > * { text-indent: 0px; }
.CodeMirror {
    width: 100%;
    border: 1px solid black;
  }
  .CodeMirror-vscrollbar {
    pointer-events: auto !important;
  }
  .demo-box{
  }
  iframe {
    width: 49%;
    height: 300px;
    border: 1px solid black;
    border-left: 0px;
  }
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/addon/scroll/simplescrollbars.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/css/css.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/htmlmixed/htmlmixed.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111529449-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111529449-1');
</script>
</head>
<body>
  <div class="container">
    <h1>Modelo de cajas con Flexbox</h1>
  </div>
<div class="container margin-bottom-20 margin-top-20">
  <h2>Columnas simples</h2>
  <p>Organiza la disposición del contenido de tu web (layout) usando la cantidad de columnas y filas que necesites.</p>
  <div class="flex">
    <div class="row">
      <div class="six">
<textarea id="demo1">
<div class="flex">
  <div class="row">
    <div class="column">
      Columna 1
    </div>
    <div class="column">
      Columna 2
    </div>
  </div>
  <div class="row">
    <div class="column">
      Columna 1
    </div>
    <div class="column">
      Columna 2
    </div>
    <div class="column">
      Columna 3
    </div>
    <div class="column">
      Columna 4
    </div>
    <div class="column">
      Columna 5
    </div>
    <div class="column">
      Columna 6
    </div>
  </div>
  <div class="row">
    <div class="column">
      Columna 1
    </div>
  </div>
</div>
</textarea>
        <script>
          var delay;
          var editor = CodeMirror.fromTextArea(document.getElementById("demo1"), {
            mode: "text/html",
            lineNumbers: true,
            scrollbarStyle: "simple",
            readOnly: true
          });
        </script>
      </div>
      <div class="six">
        <div class="demo-box">
          <div class="flex">
            <div class="row">
              <div class="column gray text-white margin-5 text-center">
                Columna 1
              </div>
              <div class="column gray text-white margin-5 text-center">
                Columna 2
              </div>
              <div class="column gray text-white margin-5 text-center">
                Columna 3
              </div>
            </div>
            <div class="row">
              <div class="column gray text-white margin-5 text-center">
                Columna 1
              </div>
              <div class="column gray text-white margin-5 text-center">
                Columna 2
              </div>
              <div class="column gray text-white margin-5 text-center">
                Columna 3
              </div>
              <div class="column gray text-white margin-5 text-center">
                Columna 4
              </div>
              <div class="column gray text-white margin-5 text-center">
                Columna 5
              </div>
              <div class="column gray text-white margin-5 text-center">
                Columna 6
              </div>
            </div>
            <div class="row">
              <div class="column gray text-white margin-5 text-center">
                Columna 1
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Columnas en diferentes tamaños</h2>
  <p>Organiza la disposición del contenido de tu web (layout) usando un sistema de grilla en filas y 12 columnas.</p>
  <div class="flex">
  <div class="row">
    <div class="six">
<textarea  id="columnsSized">
<div class="flex">
<div class="row">
  <div class="column">
    Columna 1
  </div>
  <div class="column">
    Columna 2
  </div>
</div>
<div class="row">
  <div class="one">
    one
  </div>
  <div class="eleven">
    eleven
  </div>
</div>
<div class="row">
  <div class="two">
    two
  </div>
  <div class="ten">
    ten
  </div>
</div>
<div class="row">
  <div class="three">
    three
  </div>
  <div class="nine">
    nine
  </div>
</div>
<div class="row">
  <div class="four">
    four
  </div>
  <div class="eight">
    eight
  </div>
</div>
<div class="row">
  <div class="five">
    five
  </div>
  <div class="seven">
    seven
  </div>
</div>
<div class="row">
  <div class="six">
    six
  </div>
  <div class="six">
    six
  </div>
</div>
</div>
</textarea>
      <script>
        var delay;
        var editor = CodeMirror.fromTextArea(document.getElementById("columnsSized"), {
          mode: "text/html",
          lineNumbers: true,
          scrollbarStyle: "simple",
          readOnly: true
        });
      </script>
    </div>
    <div class="six">
      <div class="flex">
        <div class="row">
          <div class="one gray text-white margin-5 text-center">
            one
          </div>
          <div class="eleven gray text-white margin-5 text-center">
            eleven
          </div>
        </div>
        <div class="row">
          <div class="two gray text-white margin-5 text-center">
            two
          </div>
          <div class="ten gray text-white margin-5 text-center">
            ten
          </div>
        </div>
        <div class="row">
          <div class="three gray text-white margin-5 text-center">
            three
          </div>
          <div class="nine gray text-white margin-5 text-center">
            nine
          </div>
        </div>
        <div class="row">
          <div class="four gray text-white margin-5 text-center">
            four
          </div>
          <div class="eight gray text-white margin-5 text-center">
            eight
          </div>
        </div>
        <div class="row">
          <div class="five gray text-white margin-5 text-center">
            five
          </div>
          <div class="seven gray text-white margin-5 text-center">
            seven
          </div>
        </div>
        <div class="row">
          <div class="six gray text-white margin-5 text-center">
            six
          </div>
          <div class="six gray text-white margin-5 text-center">
            six
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>

</html>
