<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>
      Morph
    </h1>
    <p>
      <img src="https://image.ibb.co/iqOQ7F/morph_logo_mini_fw.png" alt="">
    </p>
    <h1>
      ¿Que es morph?
    </h1>
    <p>
      Morph es una colección de Patrones de Diseño Web para Interfaces Graficas de Usuario (GUI). Las cuales han sido creadas usando solamente HTML natural y un mínimo de clases CSS abstraídas con una sintaxis semántica. Todo ello para mejorar la experiencia del diseñador, programador y del usuario.
    </p>
    <p>
      <a href="https://github.com/techfano/morph/wiki/Morph-fundamentos">
        Mas detalles
      </a>
    </p>
    <hr>
    <br>
    <p>
      <h3>Botones</h3>
    </p>
    <p>
    <button>
      Boton
    </button>
    <button type="button" disabled="">
      Boton deshabiltado
    </button>
    <button type="button" class="red">
      Boton rojo
    </button>
    <button type="button" class="black">
      Boton negro
    </button>
    <button type="button" class="blue">
      Boton azul
    </button>

    <button type="button" class="yellow">
      Boton amarillo
    </button>

    <button type="button" class="green">
      Boton verde
    </button>
  </p>
  <hr>
  <br>
  <p>
    <h3>Botones con iconos</h3>
  </p>
  <p>
    <button type="button">
      <span class="icon done_black"></span>
      Boton con icono
    </button>
    <button type="button" class="red">
      <span class="icon add_white"></span>
      Boton rojo con icono
    </button>

    <button type="button" class="red" disabled="">
      <span class="icon add_white"></span>
      Boton rojo con icono deshabilitado
    </button>

    <button type="button" class="black">
      <span class="icon clear_white"></span>
      Boton negro con icono
    </button>

    <button type="button" class="blue">
      <span class="icon chat_white"></span>
      Boton azul con icono
    </button>

    <button type="button" class="yellow">
      <span class="icon error_black"></span>
      Boton azul con icono
    </button>

    <button type="button" class="green">
      <span class="icon favorite_white"></span>
      Boton verde con icono
    </button>
  </p>
  <hr>
  <br>
  <p>
    <h3>Botones redondeados</h3>
  </p>
  <p>
    <button type="button" class="rounded">
      Boton redondeado
    </button>
    <button type="button" class="rounded red">
      Boton redondeado rojo
    </button>
    <button type="button" class="rounded black">
      Boton redondeado negro
    </button>
    <button type="button" class="rounded black" disabled="">
      Boton redondeado negro deshabilitado
    </button>
    <button type="button" class="rounded blue">
      Boton redondeado azul
    </button>

    <button type="button" class="rounded yellow">
      Boton redondeado amarillo
    </button>
    <button type="button" class="rounded green">
      Boton redondeado verde
    </button>
  </p>
  <hr>
  <br>
  <p>
    <h3>Botones redondeados con iconos</h3>
  </p>
  <p>
    <button type="button" class="rounded">
      <span class="icon done_black"></span>
      Boton redondeado con icono
    </button>

    <button type="button" class="rounded red">
      <span class="icon add_white"></span>
      Button rojo redondeado con icono
    </button>
    <button type="button" class="rounded black">
      <span class="icon clear_white"></span>
      Button negro redondeado con icono
    </button>
    <button type="button" class="rounded blue">
      <span class="icon chat_white"></span>
      Button azul redondeado con icono
    </button>
    <button type="button" class="rounded blue" disabled="">
      <span class="icon chat_white"></span>
      Button azul redondeado con icono deshabilitado
    </button>
    <button type="button" class="rounded yellow">
      <span class="icon error_black"></span>
      Button yellow redondeado con icono
    </button>
    <button type="button" class="rounded green">
      <span class="icon favorite_white"></span>
      Button green redondeado con icono
    </button>
  </p>
  <hr>
  <br>
  <p>
    <h3>Buttons circulares</h3>
  </p>
  <p>
    <button type="button" class="circle">
      <span class="icon done_black"></span>
    </button>

    <button type="button" class="circle red">
      <span class="icon add_white"></span>
    </button>

    <button type="button" class="circle black">
      <span class="icon clear_white"></span>
    </button>

    <button type="button" class="circle blue">
      <span class="icon chat_white"></span>
    </button>

    <button type="button" class="circle yellow">
      <span class="icon error_black"></span>
    </button>

    <button type="button" class="circle yellow" disabled="">
      <span class="icon error_black"></span>
    </button>

    <button type="button" class="circle green">
      <span class="icon favorite_white"></span>
    </button>
  </p>
  <hr>
  <br>
  <p>
    <h3>Buttons cuadrados</h3>
  </p>
  <p>
    <button type="button" class="square">
      <span class="icon done_black"></span>
    </button>

    <button type="button" class="square red">
      <span class="icon add_white"></span>
    </button>

    <button type="button" class="square black">
      <span class="icon clear_white"></span>
    </button>

    <button type="button" class="square blue">
      <span class="icon chat_white"></span>
    </button>

    <button type="button" class="square yellow">
      <span class="icon error_black"></span>
    </button>

    <button type="button" class="square yellow" disabled="">
      <span class="icon error_black"></span>
    </button>

    <button type="button" class="square green">
      <span class="icon favorite_white"></span>
    </button>
  </p>
  <hr>
  <br>
  <p>
    <h3>Cajas de texto</h3>
  </p>
  <p>
    <label for="">Cajas de texto</label>
    <input type="text" name="" value="" placeholder="Input">

    <label for="">Cajas de texto roja</label>
    <input type="text" name="" value="" placeholder="Input red" class="red">

    <label for="">Cajas de texto negra</label>
    <input type="text" name="" value="" placeholder="Input black" class="black">

    <label for="">Cajas de texto azul</label>
    <input type="text" name="" value="" placeholder="Input blue" class="blue">

    <label for="">Cajas de texto amarillo</label>
    <input type="text" name="" value="" placeholder="Input yellow" class="yellow">

    <label for="">Cajas de texto verde</label>
    <input type="text" name="" value="" placeholder="Input green" class="green">
  </p>
  <hr>
  <br>
  <p>
    <h3>Cajas de texto con botoones (.input-box)</h3>
  </p>
  <p>
    <div class="input-box">
      <input type="text" >
      <button type="button">Buscar</button>
    </div>
    <div class="input-box">
      <input type="text">
      <button type="button" name="button" class="rounded">Buscar</button>
    </div>

    <div class="input-box">
      <input type="text">
      <button type="button" name="button" class="rounded red">Buscar</button>
    </div>

    <div class="input-box">
      <input type="text">
      <button type="button" name="button" class="rounded black">
        <span class="icon search_white"></span>
        Buscar
      </button>
    </div>

    <div class="input-box">
      <label for="">S/.</label>
      <input type="number"
        value="850"
        min="850"
        max="20000"
        step="50"
        maxlength="5"
        style="width:100px">
      <button type="button" name="button" class="rounded blue">
        <span class="icon search_white"></span>
      </button>
    </div>

    <div class="input-box large">
      <label for="">S/.</label>
      <input type="number"
        value="850"
        min="850"
        max="20000"
        step="50"
        maxlength="5"
        style="width:100px">
      <button type="button" name="button" class="rounded blue">
        <span class="icon search_white"></span>
      </button>
    </div>

    <div class="input-box large">
      <label for="">S/.</label>
      <input type="number"
        value="850"
        min="850"
        max="20000"
        step="50"
        maxlength="5"
        style="width:100px">
      <button type="button" name="button" class="rounded blue">
        Buscar
      </button>
    </div>

    <div class="input-box large">
      <label for="">S/.</label>
      <input type="number"
        value="850"
        min="850"
        max="20000"
        step="50"
        maxlength="5"
        style="width:100px">
      <button type="button" name="button" class="rounded red">
        <span class="icon search_white"></span>
        Buscar
      </button>
    </div>
    <hr>
    <br>
    <p>
      <h3>Sistema de grilla</h3>
    </p>

    <div class="gray-color padding-10">
        <div class="row">
          <div class="one column white-color padding-5 margin-10">One</div>
          <div class="eleven columns white-color padding-5 margin-10">Eleven</div>
        </div>
        <div class="row">
          <div class="two columns white-color padding-5 margin-10">Two</div>
          <div class="ten columns white-color padding-5 margin-10">Ten</div>
        </div>
        <div class="row">
          <div class="three columns white-color padding-5 margin-10">Three</div>
          <div class="nine columns white-color padding-5 margin-10">Nine</div>
        </div>
        <div class="row">
          <div class="four columns white-color padding-5 margin-10">Four</div>
          <div class="eight columns white-color padding-5 margin-10">Eight</div>
        </div>
        <div class="row">
          <div class="five columns white-color padding-5 margin-10">Five</div>
          <div class="seven columns white-color padding-5 margin-10">Seven</div>
        </div>
        <div class="row">
          <div class="six columns white-color padding-5 margin-10">Six</div>
          <div class="six columns white-color padding-5 margin-10">Six</div>
        </div>
        <div class="row">
          <div class="seven columns white-color padding-5 margin-10">Seven</div>
          <div class="five columns white-color padding-5 margin-10">Five</div>
        </div>
        <div class="row">
          <div class="eight columns white-color padding-5 margin-10">Eight</div>
          <div class="four  columns white-color padding-5 margin-10">Four</div>
        </div>
        <div class="row">
          <div class="nine columns white-color padding-5 margin-10">Nine</div>
          <div class="three columns white-color padding-5 margin-10">Three</div>
        </div>
        <div class="row">
          <div class="ten columns white-color padding-5 margin-10">Ten</div>
          <div class="two columns white-color padding-5 margin-10">Two</div>
        </div>
        <div class="row">
          <div class="eleven columns white-color padding-5 margin-10">Eleven</div>
          <div class="one column white-color padding-5 margin-10">One</div>
        </div>
      </div>
    <hr>
    <br>
    <p>
      <h3>Tabla</h3>
    </p>

    <table>
      <thead>
        <tr>
          <th>Elemento 1</th>
          <th>Elemento 2</th>
          <th>Elemento 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <br>
    <p>
      <h3>Tabla con (strip-horizontal)</h3>
    </p>

    <table class="strip-horizontal">
      <thead>
        <tr>
          <th>Elemento 1</th>
          <th>Elemento 2</th>
          <th>Elemento 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <br>
    <p>
      <h3>Tabla con (strip-vertical)</h3>
    </p>

    <table class="strip-vertical">
      <thead>
        <tr>
          <th>Elemento 1</th>
          <th>Elemento 2</th>
          <th>Elemento 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <br>
    <p>
      <h3>Tabla (expandida y con strip-horizontal)</h3>
    </p>

    <table class="expanded strip-horizontal">
      <thead>
        <tr>
          <th>Elemento 1</th>
          <th>Elemento 2</th>
          <th>Elemento 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <br>
    <p>
      <h3>Table (expandida y con strip-horizontal) con cabeceras (center, right, left)</h3>
    </p>

    <table class="expanded strip-horizontal">
      <thead>
        <tr>
          <th>Left</th>
          <th>Center</th>
          <th>Right</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <br>
    <p>
      <h3>Tabla (expandida y con strip-horizontal) con cabeceras y contenido (center, right, left)</h3>
    </p>

    <table class="expanded strip-horizontal">
      <thead>
        <tr>
          <th class="left">Left</th>
          <th class="center">Center</th>
          <th class="right">Right</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left">1</td>
          <td class="center">2</td>
          <td class="right">3</td>
        </tr>
        <tr>
          <td class="left">1</td>
          <td class="center">2</td>
          <td class="right">3</td>
        </tr>
        <tr>
          <td class="left">1</td>
          <td class="center">2</td>
          <td class="right">3</td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
