<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        font-weight: 300;
        padding: 50px;
      }
      p a {
        text-decoration: none;
        color: #2196F3;
      }

      p a:hover {
        text-decoration: underline;
        color: #F44336;
      }

      code {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 800px;
        display: table;
        background: #3E3E3E;
        color: #FFFFFF;
        border: 1px solid #A5A5A5;
      }
    </style>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root">
    </div>

<!--
    <p>
      <h3>Sistema de grilla</h3>
    </p>

    <div class="gray-color padding-10">
        <div class="row">
          <div class="one column white-color padding-5 margin-10">One</div>
          <div class="eleven columns white-color padding-5 margin-10">Eleven</div>
        </div>
        <div class="row">
          <div class="two columns white-color padding-5 margin-10">Two</div>
          <div class="ten columns white-color padding-5 margin-10">Ten</div>
        </div>
        <div class="row">
          <div class="three columns white-color padding-5 margin-10">Three</div>
          <div class="nine columns white-color padding-5 margin-10">Nine</div>
        </div>
        <div class="row">
          <div class="four columns white-color padding-5 margin-10">Four</div>
          <div class="eight columns white-color padding-5 margin-10">Eight</div>
        </div>
        <div class="row">
          <div class="five columns white-color padding-5 margin-10">Five</div>
          <div class="seven columns white-color padding-5 margin-10">Seven</div>
        </div>
        <div class="row">
          <div class="six columns white-color padding-5 margin-10">Six</div>
          <div class="six columns white-color padding-5 margin-10">Six</div>
        </div>
        <div class="row">
          <div class="seven columns white-color padding-5 margin-10">Seven</div>
          <div class="five columns white-color padding-5 margin-10">Five</div>
        </div>
        <div class="row">
          <div class="eight columns white-color padding-5 margin-10">Eight</div>
          <div class="four  columns white-color padding-5 margin-10">Four</div>
        </div>
        <div class="row">
          <div class="nine columns white-color padding-5 margin-10">Nine</div>
          <div class="three columns white-color padding-5 margin-10">Three</div>
        </div>
        <div class="row">
          <div class="ten columns white-color padding-5 margin-10">Ten</div>
          <div class="two columns white-color padding-5 margin-10">Two</div>
        </div>
        <div class="row">
          <div class="eleven columns white-color padding-5 margin-10">Eleven</div>
          <div class="one column white-color padding-5 margin-10">One</div>
        </div>
      </div>
    <hr>
    <br>
    <p>
      <h3>Tabla</h3>
    </p>

    <table>
      <thead>
        <tr>
          <th>Elemento 1</th>
          <th>Elemento 2</th>
          <th>Elemento 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <br>
    <p>
      <h3>Tabla con (strip-horizontal)</h3>
    </p>

    <table class="strip-horizontal">
      <thead>
        <tr>
          <th>Elemento 1</th>
          <th>Elemento 2</th>
          <th>Elemento 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <br>
    <p>
      <h3>Tabla con (strip-vertical)</h3>
    </p>

    <table class="strip-vertical">
      <thead>
        <tr>
          <th>Elemento 1</th>
          <th>Elemento 2</th>
          <th>Elemento 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <br>
    <p>
      <h3>Tabla (expandida y con strip-horizontal)</h3>
    </p>

    <table class="expanded strip-horizontal">
      <thead>
        <tr>
          <th>Elemento 1</th>
          <th>Elemento 2</th>
          <th>Elemento 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <br>
    <p>
      <h3>Table (expandida y con strip-horizontal) con cabeceras (center, right, left)</h3>
    </p>

    <table class="expanded strip-horizontal">
      <thead>
        <tr>
          <th>Left</th>
          <th>Center</th>
          <th>Right</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <br>
    <p>
      <h3>Tabla (expandida y con strip-horizontal) con cabeceras y contenido (center, right, left)</h3>
    </p>

    <table class="expanded strip-horizontal">
      <thead>
        <tr>
          <th class="left">Left</th>
          <th class="center">Center</th>
          <th class="right">Right</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left">1</td>
          <td class="center">2</td>
          <td class="right">3</td>
        </tr>
        <tr>
          <td class="left">1</td>
          <td class="center">2</td>
          <td class="right">3</td>
        </tr>
        <tr>
          <td class="left">1</td>
          <td class="center">2</td>
          <td class="right">3</td>
        </tr>
      </tbody>
    </table>

    <p>
      <h3>header ejemplos</h3>
    </p>

    <header class="margin-5">
      <div class="brand">
        Morph
      </div>
      <div class="option left">
        <a href="">
          Clientes
        </a>
      </div>
      <div class="option left">
        <a href="">
          Usuarios
        </a>
      </div>
      <div class="option left selected">
        <a href="">
          Productos
        </a>
      </div>
    </header>
    <header class="margin-5 gray">
      <div class="brand">
        Morph
      </div>
      <div class="option left">
        <a href="">
          Clientes
        </a>
      </div>
      <div class="option left">
        <a href="">
          Usuarios
        </a>
      </div>
      <div class="option left selected">
        <a href="">
          Productos
        </a>
      </div>
    </header>
    <header class="margin-5 yellow">
      <div class="brand">
        Morph
      </div>
      <div class="option left">
        <a href="">
          Clientes
        </a>
      </div>
      <div class="option left">
        <a href="">
          Usuarios
        </a>
      </div>
      <div class="option left selected">
        <a href="">
          Productos
        </a>
      </div>
    </header>
    <header class="margin-5 red">
      <div class="brand">
        Morph
      </div>
      <div class="option left">
        <a href="">
          Clientes
        </a>
      </div>
      <div class="option left">
        <a href="">
          Usuarios
        </a>
      </div>
      <div class="option left selected">
        <a href="">
          Productos
        </a>
      </div>
    </header>
    <header class="margin-5 green">
      <div class="brand">
        Morph
      </div>
      <div class="option left">
        <a href="">
          Clientes
        </a>
      </div>
      <div class="option left">
        <a href="">
          Usuarios
        </a>
      </div>
      <div class="option left selected">
        <a href="">
          Productos
        </a>
      </div>
    </header>
    <header class="margin-5 blue">
      <a href="#" class="brand">
        Morph
      </a>
      <a class="option left">
        Clientes
      </a>
      <a class="option left">
        Usuarios
      </a>
      <a class="option left selected">
        Productos
      </a>
    </header>
    <div class="header margin-5 black">
      <div class="brand">
        Morph
      </div>
      <div class="option left">
        <a href="">
          Clientes
        </a>
      </div>
      <div class="option left">
        <a href="">
          Usuarios
        </a>
      </div>
      <div class="option left selected">
        <a href="">
          Productos
        </a>
      </div>
    </div>
    <header class="black">
      <ul class="menu right">
        <li>
          <a href="#">
            Menu right
          </a>
        </li>
        <li>
          <a href="#"
            class="selected">
            Menu right 2
          </a>
        </li>
      </ul>
      <ul class="menu left">
        <li>
          <a href="#">
            Menu left
          </a>
        </li>
        <li>
          <a href="#">
            Menu left 2
          </a>
        </li>
      </ul>
      <div class="brand">
        Morph
      </div>
    </header>
    <h4>Código</h4>
    <p>Puedes usar la etiqueta header</p>
    <code>
      &lt;header&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/header&gt;
      <br />
      <br />
      &lt;header class="gray"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/header&gt;
      <br />
      <br />
      &lt;header class="yellow"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/header&gt;
      <br />
      <br />
      &lt;header class="red"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/header&gt;
      <br />
      <br />
      &lt;header class="green"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/header&gt;
      <br />
      <br />
      &lt;header class="blue"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/header&gt;
      <br />
      <br />
      &lt;header class="black"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/header&gt;
    </code>
    <br />
    <p>Tambien declarar la clase de estilo
      <span class="grafite-color padding-2">.header</span>
       o junto con colores (<span class="grafite-color padding-2 red-text">.red</span>,
         <span class="grafite-color padding-2 blue-text"> .blue</span>, etc)</p>
    <code>
      &lt;div class="header black"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/div&gt;
    </code>
    <br />
    <p>Asi mismo, ponerle la clase <span class="grafite-color padding-2">.absolute</span>
       y ponerla en la parte superior de toda la pantalla</p>
    <code>
      &lt;header class="black absolute"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/header&gt;
      <br>
      <br>
      &lt;div class="header black absolute"&gt;
        &lt;div class="brand"&gt;
          Morph
        &lt;/div&gt;
      &lt;/div&gt;
    </code> -->
  </body>
</html>
