<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <p>
      <h3>Buttons</h3>
    </p>
    <button type="button" name="button">
      Button
    </button>
    <button type="button" name="button" class="red">
      Button red
    </button>
    <button type="button" name="button" class="black">
      Button black
    </button>
    <button type="button" name="button" class="blue">
      Button blue
    </button>
    <button type="button" name="button">
      <span class="icon done-black"></span>
      Button with icon
    </button>
    <button type="button" name="button" class="red">
      <span class="icon done-white"></span>
      Button red with icon
    </button>

    <button type="button" name="button" class="black">
      <span class="icon done-white"></span>
      Button black with icon
    </button>

    <button type="button" name="button" class="blue">
      <span class="icon done-white"></span>
      Button blue with icon
    </button>

    <button type="button" name="button" class="circle">
      <span class="icon done-black"></span>
    </button>

    <button type="button" name="button" class="circle red">
      <span class="icon done-white"></span>
    </button>

    <button type="button" name="button" class="circle black">
      <span class="icon done-white"></span>
    </button>

    <button type="button" name="button" class="circle blue">
      <span class="icon done-white"></span>
    </button>
  </body>
</html>
