<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <p>
      <h3>Buttons</h3>
    </p>
    <button type="button" name="button">
      <span class="icon done-black"></span>
      Button
    </button>
    <button type="button" name="button" class="red">
      Button red
    </button>
    <button type="button" name="button" class="red">
      <span class="icon done-white"></span>
      Button red
    </button>
    <button type="button" name="button" class="circle">
      <span class="icon done-black"></span>
    </button>
  </body>
</html>
