<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        font-weight: 300;
        padding: 50px;
      }
      p a {
        text-decoration: none;
        color: #2196F3;
      }

      p a:hover {
        text-decoration: underline;
        color: #F44336;
      }

      code {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 800px;
        display: table;
        background: #3E3E3E;
        color: #FFFFFF;
        border: 1px solid #A5A5A5;
      }
    </style>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root">
    </div>
  </body>
</html>
