<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="description" content="Morph es una colecci칩n de patrones para crear Interfaces Gr치ficas de Usuario (GUI - Graphic User Interface) de la manera m치s sencilla posible.">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Estefano Casta침eda Bello">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111529449-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111529449-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-1776605042866949",
      enable_page_level_ads: true
    });
  </script>
  </head>
  <body>
    <div id="root">
    </div>
  </body>
  <style>
    body {
      font-weight: 300;
      padding: 50px;
    }
    p a {
      text-decoration: none;
      color: #2196F3;
    }

    p a:hover {
      text-decoration: underline;
      color: #F44336;
    }

    code {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 800px;
      display: table;
      background: #3E3E3E;
      color: #FFFFFF;
      border: 1px solid #A5A5A5;
    }

    header.fixed {
      z-index: 10;
    }

    nav{
        width:auto;
        position:absolute;
        background: white;
        color: black;
        border: 1px solid #9F9F9F;
    }
    nav.fixed{
        position:fixed
    }
    nav a{
        color:#000;
        display:table;
        border-spacing:10px;
        width:100%;
        text-decoration:none;
        border-bottom:3px solid #fff
    }
    nav a.selected{
        background:#e1e1e1;
        border-bottom:3px solid #2196f3!important;
        height:30px
    }
    nav a:hover{
        background:#e1e1e1;
        border-bottom:3px solid #e1e1e1
    }
    nav.red a{
        background-color:#f44336;
        color:#000;
        border-bottom:3px solid #f44336
    }
    nav.red a.selected{
        background:#d32f2f;
        border-bottom:3px solid #fff!important
    }
    nav.red a:hover{
        background:#d32f2f;
        border-bottom:3px solid #d32f2f
    }
    nav.black a{
        background-color:#000;
        color:#fff;
        border-bottom:3px solid #000
    }
    nav.black a.selected{
        background:#444;
        border-bottom:3px solid #fff!important
    }
    nav.black a:hover{
        background:#444;
        border-bottom:3px solid #444
    }
    nav.blue a{
        background-color:#2196f3;
        color:#fff;
        border-bottom:3px solid #2196f3
    }
    nav.blue a.selected{
        background:#1976d2;
        border-bottom:3px solid #fec007!important
    }
    nav.blue a:hover{
        background:#1976d2;
        border-bottom:3px solid #1976d2
    }
    nav.yellow a{
        background-color:#fec007;
        color:#000;
        border-bottom:3px solid #fec007
    }
    nav.yellow a.selected{
        background:#daa507;
        border-bottom:3px solid #fff!important
    }
    nav.yellow a:hover{
        background:#daa507;
        border-bottom:3px solid #daa507
    }
    nav.green a{
        background-color:#49a84c;
        color:#000;
        border-bottom:3px solid #49a84c
    }
    nav.green a.selected{
        background:#419243;
        border-bottom:3px solid #fff!important
    }
    nav.green a:hover{
        background:#419243;
        border-bottom:3px solid #419243
    }
    nav.gray a{
        background-color:#d2d2d2;
        color:#000;
        border-bottom:3px solid #d2d2d2
    }
    nav.gray a.selected{
        background:#bdbdbd;
        border-bottom:3px solid #000!important
    }
    nav.gray a:hover{
        background:#bdbdbd;
        border-bottom:3px solid #bdbdbd
    }
  </style>
</html>
