<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="description" content="Morph es una colección de patrones para crear Interfaces Gráficas de Usuario (GUI - Graphic User Interface) de la manera más sencilla posible.">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Estefano Castañeda Bello">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111529449-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111529449-1');
  </script>
  </head>
  <body>
    <h1>Hola</h1>
    <button
      class="primary"
      type="button"
      name="button">
      <i class="icon">done</i>
      Clic aquí
    </button>

    <button
      class="secondary"
      type="button"
      name="button">
      <i class="icon">done</i>
      Clic aquí
    </button>
  </body>
</html>
