input[type="checkbox"]{
  position: relative;
  -webkit-appearance: none;
  user-select: none;
  height:21px;
  width: 21px;
  border:none;
  margin: 0;
  background-color: $action-color;
  border: 2px solid $primary-text-color;
  cursor: pointer;
  &::after{
    position: absolute;
    content: '';
    font-size: 16px;
    color: $action-color;
    top: 1px;;
    left: 1px;
    transform: rotate(-45deg);
    @extend .transition;
    @extend .icon;
  }
  &:checked{
    background-color: $primary-color;
    border: 2px solid $primary-color;
    &::after{
      content: 'check';
      color: white;
      transform: rotate(0deg);
      @extend .transition;
    }    
  }
}