input[type="number"]{
    position: relative;
    margin-left:3px;
    margin-right:3px;
    text-align: center;
    &.left{
        text-align: left;
    }
    &.right{
        text-align:right;
    }
    &.center{
        text-align: center;
    }
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
    &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        appearance: none;
    }
}