input[type="radio"]{
  position: relative;
  -webkit-appearance: none;
  border-radius: 50px;
  height:20px;
  width: 20px;
  border:none;
  margin: 0;
  padding: 0;
  background-color: $action-color;
  border: 2px solid $primary-text-color;
  cursor: pointer;
  &::after{
    position: absolute;
    content: '';
    border-radius: 60px;
    right: 0;
    left: 0;
    margin: auto;
    top: 5.4px;
    height: 0;
    width: 0;
    color: transparent;
    @extend .transition-fast;
  }
  &:checked{
    border: 2px solid $primary-color;
    &::after{
      background-color: $primary-color;
      height: 6px;
      width: 6px;
      content: '';
      color: white;
      transform: scale(2)
    }    
  }
}