input, input[type="text"]{
  color: $primary-text-color;
	outline:none;
  border:none;
  width: 100%;
  background-color: $action-color;
  border-bottom: 3px solid $primary-text-color;
  &::-webkit-input-placeholder{
    @extend .font-shadow;
    @extend .body-1-text;
  }
  &:focus{
    border-bottom: 3px solid $primary-color;
  }
  @extend .transition;
  @extend .body-1-text;
}
